
:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-dark-blue: hsl(229, 23%, 23%);
    --primary-grayish-blue: hsl(227, 10%, 46%);
    --neutral-dark-gray: hsl(0, 0%, 59%);

    @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
}

body {
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-size: 810px 705px;
    background-position: bottom 170px right 708px, top 334px left 681px;
    background-color: var(--primary-dark-cyan);
    height: auto;
    padding-top: 12.5rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h1, h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

hr {
    color: hsla(0, 0%, 59%, 0.241);
    background-color: hsla(0, 0%, 59%, 0.241);
}


.text-bold {
    font-weight: bold;
    color: var(--primary-dark-blue);
}


.text-light {
    font-weight: 400;
    color: var(--neutral-dark-gray);
}


.top-card-profile {
    background-image: url(images/bg-pattern-card.svg);
    width: 320px;
    height: 140px;
    border-radius: 13px 13px 0px 0px;
    border-style: unset;
}


.card-profile {
    background-color: white;
    width: 320px;
    height: 360px;
    margin: auto;
    margin-top: -5%;
    border-radius: 16px;
    position: relative;
    text-align: center;
}

.img-profile {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    right: 40%;
    margin-top: -15%
}


.infos-profile {
    display: flex;
    justify-content: center;
    text-align: center;
}

.infos-profile p {
    font-size: 10px;
    letter-spacing: 1px;
}

.infos-profile div {
    padding: 0px 20px 0px 20px;
}


.attribution {
    margin-top: 20px;
}

a {
    color: white;
    text-decoration: none;
}